{
  "extends": ["prettier"],
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "prettier/prettier": "error",
    "comma-dangle": [2, "always-multiline"],
    "semi": [2, "never"]
  },
  "env": {
    "node": true
  }
}
